@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@if (ViewBag.ErrorTitle == null)
{   
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h1 class="text-danger text-center">Error</h1>
            <h4 class="text-primary text-center">An error occurred while processing your request.</h4>
            <h4 class="text-primary text-center">Please contact IT support if the problem persists.</h4>
            <a asp-area="User" asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </div>
    
}
else
{   // custom error page 
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h1 class="text-danger text-center">@ViewBag.ErrorTitle</h1>
            <h4 class="text-primary text-center">@ViewBag.ErrorMessage</h4>
            <a asp-area="User" asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </div>
}

