@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<header>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h1 class="text-danger text-center">@ViewData["Title"]</h1>
            <H4 class="text-primary text-center">You do not have access to this rescource</H4>
        </div>
    </div> 
</header>
