@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}


<div class="border p-3 mt-4">
    <div class="row pb-2">
    <h1 class="text-primary text-center">Forgot Password Confirmation</h1>
    <h4 class="text-primary text-center">Please check your email to reset your password.</h4>
    <a asp-area="User" asp-controller="Home" asp-action="Index">Home</a>
    </div>
</div> 
        
