@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
            </form>
        }
        else
        {
            <div class="border p-3 mt-4">
                <div class="row pb-2">
                <h1 class="text-primary text-center">Log out</h1>
                <h4 class="text-primary text-center">You have successfully logged out of the application.</h4>
                <a asp-area="User" asp-controller="Home" asp-action="Index">Home</a>
                </div>
            </div>    
        }
    }
</header>
