@model IEnumerable<TimeLog>
@{
    ViewData["Title"] = "Index";

}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">ProjectTime Tracker</h2>
            <h4 class="text-primary">Project Aggregate Summary</h4>
        </div>
    </div>
        <div id="printbar" style="float:right"></div>
<table id="tblDataActualVEstimate" class="table table-bordered table-striped" style`="width 100%">
    <thead> 
        <tr>
            <th>Project Name</th>
            <th>Estimated Start Date</th>
            <th>Estimated End Date</th>
            <th>Est. Dur. Days</th>
            <th>Estimated Cost €</th>
            <th>Actual Start Date</th>
            <th>Actual End Date</th>
            <th>Act. Dur. Days</th>
            <th>Actual Cost €</th>
            <th>Itemised Project Tracking</th>
        </tr>
    </thead>

</table>
</div> 
@section scripts{
    <script src="~/js/actualveatimate.js"></script>
}
