@model IEnumerable<ProjectEstimate>
@{
    ViewData["Title"] = "IndexProjectTracker";
    var projectName = ViewBag.projectName;
    var projectStage = ViewBag.projectStage;
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">ProjectTime Tracker</h2>
            <h5 class="text-secondary">Project Name: @projectName</h5>
            <h5 class="text-secondary">Project Stage: @projectStage </h5>
        </div>
        <div class="col-6 text-end">
           <a asp-controller="ActualVEstimate" asp-action="Index" class="btn btn-primary" 
              style="width:200px"><i class="bi bi-skip-backward"></i>Aggregate Summary</a>
        </div>
    </div>
    <div id="printbar" style="float:right"></div>
<table id="tblDataindexprojecttracker" class="table table-bordered table-striped" style`="width 200%">
    <thead> 
        <tr>
            <th>Business Department</th>
            <th>Estimated Start Date</th>
            <th>Estimated End Date</th>
            <th>Estimated Duration Days</th>
            <th>Actual Start Date</th>
            <th>Actual End Date</th>
            <th>Actual Duration Days</th>
            <th>Duration Days Variance</th>
        </tr>
    </thead>
  </table>
</div> 
@section scripts{
    
    <script src="~/js/indexProjectTracker.js"></script>
}