@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject UserManager<ApplicationUser> usermanager
@using ProjectTime.Utility;


@{
    ViewData["Title"] = "Home Page";
}

<body class="welcome">
  
  <div class="container">
    <div class="row text-left text-primary">
      <div class="col-6 my-auto">
        <h1 class="font-tertiary">Welcome  </h1>
        <h1> To ProjectTime </h1>

  <p>Your all-in-one suite to manage people, projects,</p>
  <p>and everything in between.....</p>
@if (!SignInManager.IsSignedIn(User))
{
 <tr>
     <td>
        <div class="w-45 btn-group" role="group">
            <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register"><i class = "bi bi-person-plus" ></i>Register</a>
        </div>
        <div class="w-45 btn-group" role="group">
            <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login"><i class = "bi bi-box-arrow-in-right" ></i>Login</a>
        </div>
    </td>
</tr>
}
@if (User.Identity.IsAuthenticated && User.IsInRole(SD.Role_User) || User.IsInRole(SD.Role_SuperUser) || User.IsInRole(SD.Role_Admin))
{
    <div class="w-45 btn-group" role="group">
      <a asp-area="User" asp-controller="TimeLog" asp-action="Create" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> Log ProjectTime</a>
    </div>
}
@if (User.Identity.IsAuthenticated && User.IsInRole(SD.Role_SuperUser))
{
    <div class="w-45 btn-group" role="group">
      <a asp-area="SuperUser" asp-controller="ProjectEstimate" asp-action="Create" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> Add Project Estimate</a>
    </div>
}
    </div>
        <div class="col-6 py-0 mobile-img">
            <img src="~/images/ProjectTime_Image_Jpg_V5.jpg" class="img-fluid" alt="mobile screen">
        </div>
    </div>
  </div>
</body>
