@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject UserManager<ApplicationUser> usermanager 


@{
    ViewData["Title"] = "Home Page";
}

<body class="welcome">
  
  <div class="container">
    <div class="row text-left text-black">
      <div class="col-6 my-auto">
        <h1 class="font-tertiary">Welcome  </h1>
        <h1> To ProjectTime </h1>

  <p>Input company statement here.</p>
@if (!SignInManager.IsSignedIn(User))
{
 <tr>
     <td>
        <div class="w-45 btn-group" role="group">
            <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register"><i class = "bi bi-person-plus" ></i>Register</a>
        </div>
        <div class="w-45 btn-group" role="group">
            <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login"><i class = "bi bi-box-arrow-in-right" ></i>Login</a>
        </div>
    </td>
</tr>
}
      </div>
        <div class="col-6 py-4 mobile-img">
            <img  src="~/images/ProjectTime2.jpg"  class="img-fluid" alt="mobile screen">
        </div>
    </div>
  </div>
</body>



@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
