@model ApplicationUser



<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit User</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="FullName"></label>
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Department.Name"></label>
            <select asp-for = "DepartmentId" asp-items = "ViewBag.departmentId" class="form-control" ></select>
            <span asp-validation-for="DepartmentId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px"><i class="bi bi-pencil-square"></i>Update</button>
        <a asp-controller="Account" asp-action="ManageUserRoles" asp-route-userid="@Model.Id" class="btn btn-success" style="width:150px"><i class="bi bi-pencil-square"></i>Manage Roles</a>
        <a asp-controller="Account" asp-action="Index" class="btn btn-secondary" style="width:150px"><i class="bi bi-skip-backward"></i>Back to List</a>
    </div>
</form>

