@using Microsoft.AspNetCore.Identity
@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "List of all users";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-4">
            <h2 class="text-primary">ProjectTime Users</h2>
        </div>
    </div>
    <br />
<table id="tblDataUsers" class="table table-bordered table-striped" style`="width 100%">
    <thead> 
        <tr>
            <th>Employee Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Email Confirmed</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
</table>
</div>

@section scripts{
    <script src="~/js/users.js"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function(){
            var save = '@TempData["save"]'
            if(save!='') {
                alertify.success(save);
            }
            var edit = '@TempData["edit"]'
            if(edit!='') {
                alertify.success(edit);
            }
            var del = '@TempData["delete"]'
            if (del!='') {
                alertify.error(del);
            }
        })
    </script>
}
